#top{
    height: 10%;
    width: 100%;
    background: blueviolet;
}
#logo{
    position: absolute;
    clip: rect(0px 45px 100px 0px);
    margin: 10px 0 0 50px;
}
#title{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    margin: 10px 0 0 100px;
    font-style: italic;
}
#nav{
    float: right;
    margin: 1.5% 10% 0  0 ;
}
#nav li{
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
}
#nav a:hover{
    text-decoration: none;
    color: black;
}
#nav li,a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

#main{
    height:90%;
    width:100%;
}
