#container{
    padding: 30px 0;
    height: 95%;
}
#top{width: 100%;height: auto;padding: 0 50px}
#top a{
    font-weight: bolder;
}
#left{
    float: left;
    width: 60%;
    padding-left: 100px;
}
.badge{padding: 1px 5px}
.place{float: right;}
.category,.type{font-weight: bold}
.content_title{font-style: italic;color: grey}
#search{display: inline-block;margin: -5px 0 10px 20%}
.time{float: right;font-size: 20px}
#right{float: left;width: 30%;margin: 50px 0 0 50px;height: 35px}

.tag{margin: 5px 0 0 3px;display: inline-block;cursor: pointer}

.tag_select{background: #337ab7}
