<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.codingirls.mapper.JobsMapper">
    <resultMap id="jobsResult" type="Jobs">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="company" column="company"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
        <association property="category" column="category_id" javaType="Category">
            <id property="id" column="category_id"/>
            <result property="name" column="category_name"/>
        </association>
        <association property="jobType" column="job_type_id" javaType="JobType">
            <id property="id" column="job_type_id"/>
            <result property="name" column="type_name"/>
        </association>

    </resultMap>
    <insert id="insert" parameterType="string">
        INSERT INTO t_job (title, company, description, how_to_apply, category_id, city, country, is_public, is_expiry, user_id, job_type_id)
        VALUES
            (#{title}, #{company}, #{description}, #{howToAapply}, #{categoryId},  #{city}, #{country},
                       #{isPublic}, #{isExpiry}, #{useId}, #{jobTypeId})
    </insert>

    <select id="queryJobsBySearchDto" parameterType="string" resultMap="jobsResult">
        SELECT t_job.id,title, company, description, how_to_apply, city, country, is_public, is_expiry,
        category.id category_id,category.name category_name,
        type.id job_type_id,type.name type_name
        FROM t_job
        LEFT JOIN (SELECT id,name FROM t_category) category on category.id = t_job.category_id
        LEFT JOIN (SELECT id,name FROM t_type) type on type.id = t_job.job_type_id
        <where>
            <if test="typeId != ''">
                and job_type_id = #{typeId}
            </if>
            <if test="categoryId != ''">
                and category_id = #{categoryId}
            </if>
            and title like #{content}
            or company like #{content}
            or description like #{content}
        </where>
        limit #{start},#{pageSize}
    </select>

    <select id="queryJobsCount" parameterType="string" resultType="long">
        SELECT count(1) FROM t_job
        <where>
            <if test="typeId != ''">
                and job_type_id = #{typeId}
            </if>
            <if test="categoryId != ''">
                and category_id = #{categoryId}
            </if>
            and title like #{content}
            or company like #{content}
            or description like #{content}
        </where>
    </select>
</mapper>